* {
  font-family: "Helvetica";

}
h1 {
  font-size: 100px;
  font-weight: bold;
  color: khaki;
  text-align: center;
  background-image: url(../../resources/images/pattern.jpeg);
}
h2 {
  font-size: 32px;
  font-weight: bold;
  color: white;
}
#brushesHeading {
  background-color: mediumspringgreen;
}
#framesHeading {
  background-color: lightcoral;
}
#paintHeading {
  background-color: skyblue;
}
.price {
  font-weight: bold;
  color: blue;
}
